.loginPage {
  display: grid;
  width: 100vw;
  height: 91vh;
  grid-template-columns: 1fr 1fr 1fr 1.2fr;
  background-color: #FAFAFA;
}

.dog-and-cat__holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFormContainer {
  display: flex;
  align-items: center;
  width: 350px;
  height: 470px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 1px;
  align-self: center;

}

.dog-and-cat {
  height: 450px;
  align-self: center;
  padding-right: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  margin-top: 10%;
}

input {
  margin: 4px;
  width: 75%;
  height: 20%;
  border: 0.5px solid lightgrey;
  align-self: center;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #FAFAFA;
}

button {
  margin: 2px;
  font-size: 14px;
  width: 75%;
  height: 6%;
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  color: white;
  font-weight: 700;
  align-self: center;
  margin-top: 0;
}

.login-form button {
  margin: 8px;
  font-size: 14px;
  width: 75%;
  height: 20%;
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  color: white;
  font-weight: 700;
  align-self: center;
}

#logo {
  height: 12%;
  margin-top: 0;
}

.orContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  color: grey;
  margin-bottom: 4%;
  margin-top: 2%;
}

.orMargin {
  height: 1px;
  background-color: lightgrey;
  margin: 18%;
}

.signup-link {
  margin-bottom: 46%;
}

a {
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
  letter-spacing: 0.4px;
}

#or {
  margin-top: 60%;
}

button:disabled {
  opacity: 0.3;
}

button:enabled {
  transition: 0.2s;
}

input:focus {
  outline-color: lightgray;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-left: 30%;
  padding-right: 20%;
  height: 9vh;
}

footer > a {
  color: #00376b;
  font-size: 13px;
  font-weight: 550;
}

h5 {
  color: #8e8e8e;
  margin-top: 0;
  font-weight: 700;
  font-size: 12px;
}

#demoUser:hover {
  opacity: 0.85;
}

button:hover {
  cursor: pointer;
}